In [22]:
import pymongo
conn=pymongo.MongoClient('mongodb://localhost:27017')
print('connect')

connect

In [23]:
database=conn['Dehradun']
print('database')

database

In [24]:
conn=database['Students']
print('ok')

ok

In [40]:
document=conn.insert_one({'name':'hanuman','age':19,'laptop':False})
print(document)

<pymongo.results.InsertOneResult object at 0x0000024C71C31810>

In [26]:
document1=conn.insert_many([{'name':'mukesh','age':25},{'name':'damodar','age':33}])
print(document1)

<pymongo.results.InsertManyResult object at 0x0000024C71191900>

In [27]:
set1={'name':'Bhagwan','age':19}
document=conn.insert_one(set1)
print(document)

<pymongo.results.InsertOneResult object at 0x0000024C71601390>

In [28]:
set2=[{'name':'mukesh','age':25,'laptop':True},{'name':'damodar','age':33}]
document3=conn.insert_many(set2)
print(document3)

<pymongo.results.InsertManyResult object at 0x0000024C71191960>

In [50]:
collection.find_one()

{'_id': ObjectId('64b4c9a7d4555ec6a921a834'),
 'name': 'hanuman',
 'age': 19,
 'laptop': False}

In [55]:
d=collection.find()
for x in d:print(x)

{'_id': ObjectId('64b4c9a7d4555ec6a921a834'), 'name': 'hanuman', 'age': 19, 'laptop': False}
{'_id': ObjectId('64b4d0f1d4555ec6a921a841'), 'name': 'mukesh', 'age': 25, 'laptop': True}
{'_id': ObjectId('64b4d0f1d4555ec6a921a842'), 'name': 'damodar', 'age': 33}
{'_id': ObjectId('64b4d521d4555ec6a921a843'), 'name': 'hanuman', 'age': 19, 'laptop': False}

In [58]:
d=collection.find({'laptop':True})
print(d)
for x in d:print(x)

<pymongo.cursor.Cursor object at 0x0000024C72293B10>
{'_id': ObjectId('64b4d0f1d4555ec6a921a841'), 'name': 'mukesh', 'age': 25, 'laptop': True}

In [57]:
j=collection.find().sort("age")
for x in j:print(x)

{'_id': ObjectId('64b4c9a7d4555ec6a921a834'), 'name': 'hanuman', 'age': 19, 'laptop': False}
{'_id': ObjectId('64b4d521d4555ec6a921a843'), 'name': 'hanuman', 'age': 19, 'laptop': False}
{'_id': ObjectId('64b4d0f1d4555ec6a921a841'), 'name': 'mukesh', 'age': 25, 'laptop': True}
{'_id': ObjectId('64b4d0f1d4555ec6a921a842'), 'name': 'damodar', 'age': 33}