In [3]:
import pymongo

In [3]:
import pymongo
conn=pymongo.MongoClient('mongodb://localhost:27017')
print('connect')

connect

In [7]:
database=conn["Ritu"]
print(database)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ritu')

In [8]:
conn=database["Madam"]
print(conn)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ritu'), 'Madam')

In [9]:
# document =conn.insert_One({"name":"piyush","city":"rura"})

# print(document)


document=conn.insert_one({'name':'hanuman','age':25,'laptop':False})
print(document)

<pymongo.results.InsertOneResult object at 0x0000027F1068BFA0>

In [12]:
mydict = { "name": "John", "address": "Highway 37" }

x = conn.insert_one(mydict)

print(x)

<pymongo.results.InsertOneResult object at 0x0000027F10771F90>

In [15]:
a= conn.find()

for i in a:
    print(i)

{'_id': ObjectId('64c3a01bb7b5be09d5a84cde'), 'name': 'hanuman', 'age': 25, 'laptop': False}
{'_id': ObjectId('64c3a124b7b5be09d5a84cdf'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64c3a125b7b5be09d5a84ce0'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64c3a125b7b5be09d5a84ce1'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64c3a125b7b5be09d5a84ce2'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64c3a18bfab492d65e055bfd'), 'name': 'hanuman', 'age': 25, 'laptop': False}
{'_id': ObjectId('64c3a18ffab492d65e055bfe'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64c3a190fab492d65e055bff'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64c3a1a6fab492d65e055c00'), 'name': 'John', 'address': 'Highway 37'}

In [18]:
many = [
    {'name':"radha",'city':"sulemanpur",'age':14},
    {'name':"mohan",'city':"kanpur",'age':24},
    {'name':"mohanlala",'city':"lalapur",'age':22}
]

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Ritu'), "Madam.insert_Many.({'name': 'radha', 'city': 'sulemanpur', 'age': 14}, {'name': 'mohan', 'city': 'kanpur', 'age': 24}, {'name': 'mohanlala', 'city': 'lalapur', 'age': 22})")