In [43]:
import mysql.connector as mc
conn=mc.connect(host='localhost',user='root', password='')
print('ok')

ok

In [45]:
cur=conn.cursor()
cur.execute('CREATE DATABASE kanpur')
print(cur)

DatabaseError: 1007 (HY000): Can't create database 'kanpur'; database exists

In [46]:
import mysql.connector as mc
conn=mc.connect(host='localhost',user='root', password='',database='kanpur')
print('ok')

ok

In [8]:
#cur=conn.cursor()
#cur.execute('CREATE TABLE students(name varchar(55),mail varchar(50))')
#print('tablel created')

tablel created

In [47]:
cur=conn.cursor()
cur.execute("insert into students values('hanuman','h@gmail.com','hanu')")
conn.commit()
print('ok')

DataError: 1136 (21S01): Column count doesn't match value count at row 1

In [62]:
# cur=conn.cursor()
# cur.execute("alter table students add column course varchar(20) ")
# print('ok')

In [49]:
cur=conn.cursor()
cur.execute("insert into students values('hanuman','h@gmail.com','123','adit')")
conn.commit()
print('ok')

ok

In [55]:
 cur=conn.cursor()
cur.execute("select*from students")
for i in cur:print(i)

('hanuman', 'h@gmail.com', None, None)
('hanuman', 'h@gmail.com', None, None)
('hanuman', 'h@gmail.com', 'hanu', None)
('hanuman', 'h@gmail.com', 'hanu', 'adit')
('hanuman', 'h@gmail.com', '123', 'adit')
('hanuman', 'h@gmail.com', '123', 'adit')
('rahul', 'r@gmail.com', '456', 'html')
('ajay', 'r@gmail.com', '456', 'java')
('atul', 'r@gmail.com', '456', 'python')
('sakshi', 'r@gmail.com', '456', 'css')

In [54]:
cur=conn.cursor()

sql= "insert into students(name,mail,adit_id,course) values(%s,%s,%s,%s)"
val=[
    ('rahul','r@gmail.com','456','html'),
    ('ajay','r@gmail.com','456','java'),
    ('atul','r@gmail.com','456','python'),
    ('sakshi','r@gmail.com','456','css')
    
]
cur.executemany(sql,val)
conn.commit()
print(cur)

CMySQLCursor: insert into students(name,mail,adit_id,c..

In [56]:
 cur=conn.cursor()
cur.execute("select name from students")
for i in cur:print(i)

('hanuman',)
('hanuman',)
('hanuman',)
('hanuman',)
('hanuman',)
('hanuman',)
('rahul',)
('ajay',)
('atul',)
('sakshi',)

In [57]:
 cur=conn.cursor()
cur.execute("select*from students where name='hanuman'")
for i in cur:print(i)

('hanuman', 'h@gmail.com', None, None)
('hanuman', 'h@gmail.com', None, None)
('hanuman', 'h@gmail.com', 'hanu', None)
('hanuman', 'h@gmail.com', 'hanu', 'adit')
('hanuman', 'h@gmail.com', '123', 'adit')
('hanuman', 'h@gmail.com', '123', 'adit')

In [60]:
 cur=conn.cursor()
cur.execute("select*from students order by name ASC")
for i in cur:print(i)

('ajay', 'r@gmail.com', '456', 'java')
('atul', 'r@gmail.com', '456', 'python')
('hanuman', 'h@gmail.com', None, None)
('hanuman', 'h@gmail.com', '123', 'adit')
('hanuman', 'h@gmail.com', '123', 'adit')
('hanuman', 'h@gmail.com', 'hanu', 'adit')
('hanuman', 'h@gmail.com', 'hanu', None)
('hanuman', 'h@gmail.com', None, None)
('rahul', 'r@gmail.com', '456', 'html')
('sakshi', 'r@gmail.com', '456', 'css')

In [61]:
 cur=conn.cursor()
cur.execute("select distinct * from students ")
for i in cur:print(i)

('hanuman', 'h@gmail.com', None, None)
('hanuman', 'h@gmail.com', 'hanu', None)
('hanuman', 'h@gmail.com', 'hanu', 'adit')
('hanuman', 'h@gmail.com', '123', 'adit')
('rahul', 'r@gmail.com', '456', 'html')
('ajay', 'r@gmail.com', '456', 'java')
('atul', 'r@gmail.com', '456', 'python')
('sakshi', 'r@gmail.com', '456', 'css')

In [66]:
 cur=conn.cursor()
cur.execute("delete from students where name='hanuman'")
print(cur)

CMySQLCursor: delete from students where name='hanuman..

In [67]:
 cur=conn.cursor()
cur.execute("update students set mail='h@gmail.com' where name='rahul'")
print(cur)

CMySQLCursor: update students set mail='h@gmail.com' w..

In [68]:
 cur=conn.cursor()
cur.execute("select*from students")
for i in cur:print(i)

('rahul', 'h@gmail.com', '456', 'html')
('ajay', 'r@gmail.com', '456', 'java')
('atul', 'r@gmail.com', '456', 'python')
('sakshi', 'r@gmail.com', '456', 'css')