In [7]:
#this is to create a new class
class students:
    pass

In [8]:
#this is to create objects
a=students()
b=students()
c=students()

In [11]:
a.name='hanuman'
a.phone=7800100900
a.age=19

In [9]:
b.name='mukesh'
b.phone=7800100900
b.age=19

In [12]:
print(b.age)
print(a.age)

19
19

In [3]:
class ADIT:
    def __init__(self,name,age,location):
        self.name=name
        self.age=age
        self.location=location
        self.stipend=3000
        self.stipend=['HTML','CSS','PHP']
        self.email=name+'.'+location+'@gmail.com'
        self.tax=3000
        
        def abc(self):
            return '{} {}'.format( self.name,self.age)
        def increment(self):
            self.Raise=int(self.stipend *0.14 +self.stipend)

In [4]:
a1=ADIT('Ambika',18,'Allahabad')
a2=ADIT('Hanuman',25,'Allahabad')
a3=ADIT('sakshi',19,'Allahabad')
a4=ADIT('Vinod',25,'Allahabad')
a5=ADIT('Bhawan',25,'Dehradun')

In [21]:
a4.location

'Allahabad'

In [5]:
a1.email

'Ambika.Allahabad@gmail.com'

In [6]:
print(('{} {} {} ' .format(a1.name,a1.age,a1.location)))

Ambika 18 Allahabad

In [1]:
class patna:
    def __init__(self,name,designation,salary):
        self.name=name
        self.post=designation
        self.pay=salary
        self.tax=salary *0.12

In [2]:
a1=patna('rahul','hr',500000)

In [3]:
a2=patna('sahul','Traner',500000)

In [4]:
a3=patna('piyush','Traner',500000)

In [6]:
a1.pay

500000

In [7]:
a2.tax

60000.0