In [43]:
import mysql.connector as mc
conn=mc.connect(host='localhost',user='root', password='')
print('ok')

ok

In [45]:
cur=conn.cursor()
cur.execute('CREATE DATABASE kanpur')
print(cur)

DatabaseError: 1007 (HY000): Can't create database 'kanpur'; database exists

In [46]:
import mysql.connector as mc
conn=mc.connect(host='localhost',user='root', password='',database='kanpur')
print('ok')

ok

In [8]:
#cur=conn.cursor()
#cur.execute('CREATE TABLE students(name varchar(55),mail varchar(50))')
#print('tablel created')

tablel created

In [47]:
cur=conn.cursor()
cur.execute("insert into students values('hanuman','h@gmail.com','hanu')")
conn.commit()
print('ok')

DataError: 1136 (21S01): Column count doesn't match value count at row 1

In [48]:
cur=conn.cursor()
cur.execute("alter table students add column course varchar(20) ")
print('ok')

ProgrammingError: 1060 (42S21): Duplicate column name 'course'

In [49]:
cur=conn.cursor()
cur.execute("insert into students values('hanuman','h@gmail.com','123','adit')")
conn.commit()
print('ok')

ok

In [50]:
 cur=conn.cursor()
cur.execute("select*from students")
for i in cur:print(i)

('hanuman', 'h@gmail.com', None, None)
('hanuman', 'h@gmail.com', None, None)
('hanuman', 'h@gmail.com', 'hanu', None)
('hanuman', 'h@gmail.com', 'hanu', 'adit')
('hanuman', 'h@gmail.com', '123', 'adit')
('hanuman', 'h@gmail.com', '123', 'adit')

In [51]:
cur=conn.cursor()

sql= "insert into table students(name,mail,adit_id,course) values(%s,%s,%s,%s)"
val=[
    ('rahul','r@gmail.com','456','html'),
    ('ajay','r@gmail.com','456','java'),
    ('atul','r@gmail.com','456','python'),
    ('sakshi','r@gmail.com','456','css')
    
]
cur.executemany(sql,val)
conn.commit()
print('ok'

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'table students(name,mail,adit_id,course) values('rahul','r@gmail.com','456','...' at line 1