In [9]:
import mysql.connector as mc
conn=mc.connect(host='localhost',user='root',password='')
print(conn)
mycursor=conn.cursor()
# mycursor.execute('CREATE DATABASE DAY')
# print(mycursor)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F0D3B80390>

In [10]:
mycursor=conn.cursor()
mycursor.execute("show databases")

for i in mycursor:
    print(i)

('adit',)
('crudopration',)
('day',)
('facebook',)
('ibm',)
('information_schema',)
('istagram',)
('jai',)
('laravel',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('rani',)
('test',)
('university',)
('univesity',)
('user',)

In [34]:
# mycursor=conn.cursor()
# mycursor.execute("drop database youtube")
# print(mycursor)

In [11]:
mycursor=conn.cursor()
mycursor.execute("use day")
print(mycursor)

CMySQLCursor: use day

In [12]:
mycursor=conn.cursor()
mycursor.execute("create table night(name varchar(20) not null,age int(3),city varchar(40) not null)")
print(mycursor)

CMySQLCursor: create table night(name varchar(20) not ..

In [13]:
mycursor=conn.cursor()
mycursor.execute("alter table night add column course varchar(255) not null ")
print(mycursor)

CMySQLCursor: alter table night add column course varc..

In [15]:
mycursor=conn.cursor()
sql ="insert into night(name,age,city,course) values(%s,%s,%s,%s)"

val= [
    ("atul",25,"delhi","css"),
      ("sakshi",35,"kanpur","css")
      ,("saksham",25,"kolkata","css"),
      ("gufran",14,"punjab","css")
]

mycursor.executemany(sql,val)

conn.commit()


print(mycursor)

CMySQLCursor: insert into night(name,age,city,course) ..

In [16]:
mycursor=conn.cursor()
mycursor.execute("select*from night")
for i in mycursor:
    print(i)

('atul', 25, 'delhi', 'css')
('sakshi', 35, 'kanpur', 'css')
('saksham', 25, 'kolkata', 'css')
('gufran', 14, 'punjab', 'css')
('atul', 25, 'delhi', 'css')
('sakshi', 35, 'kanpur', 'css')
('saksham', 25, 'kolkata', 'css')
('gufran', 14, 'punjab', 'css')

In [7]:
mycursor=conn.cursor()
mycursor.execute("select name from night")
for i in mycursor:
    print(i)

('piyush',)
('piyush',)
('piyush',)
('raja',)
('rani',)
('ram',)
('atul',)
('sakshi',)
('saksham',)
('gufran',)
('atul',)
('sakshi',)
('saksham',)
('gufran',)
('atul',)
('sakshi',)
('saksham',)
('gufran',)

In [8]:
mycursor=conn.cursor()
mycursor.execute("select*from night  where age between 15 and 25")
for i in mycursor:
    print(i)

('raja', 15, 'kanpur', 'css')
('sakshi', 15, 'kanpur', 'css')
('atul', 25, 'delhi', 'css')
('saksham', 25, 'kolkata', 'css')
('atul', 25, 'delhi', 'css')
('saksham', 25, 'kolkata', 'css')

In [9]:
mycursor=conn.cursor()
mycursor.execute("select*from night where name='piyush'")
for i in mycursor:
    print(i)

('piyush', 14, 'delhi', 'css')
('piyush', 14, 'delhi', 'css')
('piyush', 14, 'delhi', 'css')

In [10]:
mycursor=conn.cursor()
mycursor.execute("select count(name) from night")
for i in mycursor:
    print(i)

(18,)

In [11]:
mycursor=conn.cursor()
mycursor.execute("select*from night order by  name ASC")
for i in mycursor:
    print(i)

('atul', 14, 'delhi', 'css')
('atul', 25, 'delhi', 'css')
('atul', 25, 'delhi', 'css')
('gufran', 14, 'punjab', 'css')
('gufran', 14, 'punjab', 'css')
('gufran', 14, 'punjab', 'css')
('piyush', 14, 'delhi', 'css')
('piyush', 14, 'delhi', 'css')
('piyush', 14, 'delhi', 'css')
('raja', 15, 'kanpur', 'css')
('ram', 14, 'delhi', 'css')
('rani', 14, 'patna', 'css')
('saksham', 14, 'kolkata', 'css')
('saksham', 25, 'kolkata', 'css')
('saksham', 25, 'kolkata', 'css')
('sakshi', 15, 'kanpur', 'css')
('sakshi', 35, 'kanpur', 'css')
('sakshi', 35, 'kanpur', 'css')

In [12]:
mycursor=conn.cursor()
mycursor.execute("select*from night order by  name DESC")
for i in mycursor:
    print(i)

('sakshi', 15, 'kanpur', 'css')
('sakshi', 35, 'kanpur', 'css')
('sakshi', 35, 'kanpur', 'css')
('saksham', 14, 'kolkata', 'css')
('saksham', 25, 'kolkata', 'css')
('saksham', 25, 'kolkata', 'css')
('rani', 14, 'patna', 'css')
('ram', 14, 'delhi', 'css')
('raja', 15, 'kanpur', 'css')
('piyush', 14, 'delhi', 'css')
('piyush', 14, 'delhi', 'css')
('piyush', 14, 'delhi', 'css')
('gufran', 14, 'punjab', 'css')
('gufran', 14, 'punjab', 'css')
('gufran', 14, 'punjab', 'css')
('atul', 14, 'delhi', 'css')
('atul', 25, 'delhi', 'css')
('atul', 25, 'delhi', 'css')

In [13]:
mycursor=conn.cursor()
mycursor.execute("select distinct * from night")
for i in mycursor:
    print(i)

('piyush', 14, 'delhi', 'css')
('raja', 15, 'kanpur', 'css')
('rani', 14, 'patna', 'css')
('ram', 14, 'delhi', 'css')
('atul', 14, 'delhi', 'css')
('sakshi', 15, 'kanpur', 'css')
('saksham', 14, 'kolkata', 'css')
('gufran', 14, 'punjab', 'css')
('atul', 25, 'delhi', 'css')
('sakshi', 35, 'kanpur', 'css')
('saksham', 25, 'kolkata', 'css')

In [20]:
mycursor=conn.cursor()
mycursor.execute("select * from night where name like 'p%'")
for i in mycursor:
    print(i)

('piyush', 14, 'delhi', 'css')
('piyush', 14, 'delhi', 'css')
('piyush', 14, 'delhi', 'css')

In [21]:
mycursor=conn.cursor()
mycursor.execute("select * from night group by name")
for i in mycursor:
    print(i)

('atul', 14, 'delhi', 'css')
('gufran', 14, 'punjab', 'css')
('piyush', 14, 'delhi', 'css')
('raja', 15, 'kanpur', 'css')
('ram', 14, 'delhi', 'css')
('rani', 14, 'patna', 'css')
('saksham', 14, 'kolkata', 'css')
('sakshi', 15, 'kanpur', 'css')

In [41]:
mycursor=conn.cursor()
mycursor.execute("select * from night group by name")
for i in mycursor:
    print(i)

('atul', 14, 'delhi')
('gufran', 14, 'punjab')
('raja', 15, 'kanpur')
('ram', 14, 'delhi')
('rani', 14, 'patna')
('saksham', 14, 'kolkata')
('sakshi', 15, 'kanpur')

In [22]:
mycursor=conn.cursor()
mycursor.execute("select * from night limit 5")
for i in mycursor:
    print(i)

('piyush', 14, 'delhi', 'css')
('piyush', 14, 'delhi', 'css')
('piyush', 14, 'delhi', 'css')
('raja', 15, 'kanpur', 'css')
('rani', 14, 'patna', 'css')

In [50]:
# mycursor=conn.cursor()
# mycursor.execute("update night set city=' ' where n = 14")
# print(mycursor)

In [37]:
mycursor=conn.cursor()
mycursor.execute("delete from night where name='hanuman'")
print(mycursor)

CMySQLCursor: delete from night where name='hanumanlan..

In [52]:
mycursor=conn.cursor()
mycursor.execute("ALTER TABLE night DROP age")
print(mycursor)

CMySQLCursor: ALTER TABLE night DROP age

In [8]:
mycursor=conn.cursor()
mycursor.execute("drop table night")
print(mycursor)

CMySQLCursor: drop table night

In [53]:
# mycursor=conn.cursor()
# mycursor.execute("truncate table night")
# print(mycursor)

CMySQLCursor: truncate table night

In [47]:
mycursor=conn.cursor()
mycursor.execute("select * from night")
for i in mycursor:
    print(i)

('raja', 15, 'kanpur')
('rani', 14, ' ')
('ram', 14, ' ')
('atul', 14, ' ')
('sakshi', 15, 'kanpur')
('saksham', 14, ' ')
('gufran', 14, ' ')
('atul', 25, 'delhi')
('sakshi', 35, 'kanpur')
('saksham', 25, 'kolkata')
('gufran', 14, ' ')
('atul', 25, 'delhi')
('sakshi', 35, 'kanpur')
('saksham', 25, 'kolkata')
('gufran', 14, ' ')